body {
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "Segoe","Segoe UI","Arial","sans-serif";
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}