.option {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 10px;

  img {
    width: 25px;
  }

  &:hover {
    background-color: lighten($color: #303030, $amount: 10);
    cursor: pointer;
  }
}
