.task-row {
  display: flex;
  align-items: center;
  background-color: #303030;
  overflow: hidden;
  min-height: 45px;
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 2px;

  span {
    flex-grow: 1;
    color: white;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .check-icon {
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
