.sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #303030;

  .active {
    padding-left: 17px;
    border-left: 3px solid white;
    background-color: lighten($color: #303030, $amount: 10);
    transition: border-left 0.5s;
  }
}
