.sidebar-wrapper {

  .sidebar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #303030;

    #dropdown-split-basic {
      outline: none;
      background: transparent;
      display: flex;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      justify-content: center;
      align-items: center;
      width: 20px;

      &:focus,
      &:active,
      &::after {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .user-info {
      display: flex;
      margin: 10px 0;
    }

    .active {
      padding-left: 17px;
      border-left: 3px solid white;
      background-color: lighten($color: #303030, $amount: 10);
      transition: border-left 0.5s;
    }

    span {
      color: white;
      margin-left: 15px;
    }
  }
}

// .before-hiding-sidebar{
//
// }


.show-sidebar {
  display: unset;
}

.hide-sidebar {
  display: none;
}
